* {
    font-family: 'Courier New', Courier, Monaco, sans-serif;
}

body {
    width: 300px;
    height: 300px;
    font-size: 0.7em;
    background-color: #253456;
}

.chat_id {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #a2aeca;
    width: 250px;
    height: 120px;
    border-radius: 10px;
}

.sub_chat_id {
    border: none;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: white;
    border-color: white;
    width: 100px;
    margin-top: 20px;
    margin-left: -50px;
    line-height: 18px;
    font-size: 12px;
    border-radius: 3px;
}

.inp_chat_id {
    border: none;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 10px;
    box-sizing: border-box;
    width: 180px;
    margin-top: -30px;
    transform: translateX(-50%);
}

.sub_chat_id:hover {
    cursor: pointer;
    background-color: #324c86;
    border-color: #606060;
    color: white;
}
