*{
	font-family: 'Courier New', Courier, Monaco;
}
body{
	width: 430px;
	height: 500px;
	font-size: 0.6875em;
}
.label{
	width: 9em;
	line-height: 2em;
	padding-left:  0.83333em;
	
	font-size: 1.09091em;
	background-image: url(../img/background.png);
	margin-bottom: 6px; 
	float: left;
	margin-right: 0.41667em;
	user-select: none;
	cursor: default;
	
}
.data{
	border: 1px dotted #999;
	padding: 6px;
	height: 430px;
	background-color: white !important;
	width: 340px;

}
.header{
	background-color: #636363;
	color: white;
	padding: 0.36364em 0.90909em;
	font-size: 1em;
	font-weight: normal;
	margin-bottom: 0px;
	border: 1px dotted #999;
	text-align: left;
	width: 332px;
}
.field{
line-height: 18px;
padding: 5px;
padding-top: 2px;
padding-bottom: 2px;
border-radius: 3px;
border: 1px solid #CCC;
font-size: 12px;
width: 18em;
outline: none;

background-color: white ;

}
.frm{
	
	float: left;
}
.invisible{
	background: none;
}
.active{
background-image : none;
color: white;
background-color: #666666;
}

h2{
	text-align: center;
}
.select{
	font-weight: bold;
	 height: 2em;
}
.profile{
	border: 1px dotted #999;
	width: 340px;
	padding: 6px;
	line-height: 2em;	
	font-size: 1.09091em;
	user-select: none;
}
.add{
	color: white;
	

}
.profile:hover{
	border: 1px solid #636363;
}
.add:hover{
	background-color:#636363; 
}
.prf{
	margin-top: 6px;
}
.profname{
	border:none;
	outline: none;
	width: 260px;	
}
a{
	text-decoration: none;
}
a:visited{
	color:black;
}
.ctrlhide{
cursor: pointer;
}
